<div class="text-center">
    <p><button class="btn btn-lg btn-primary btn-file">Upload CSV file <input type="file" file-upload="csv"></button></p>
    <p><h3 ng-hide="showSingleUserForm">- or -</h3></p><br />
    <p ng-hide="showSingleUserForm"><button class="btn btn-default btn-lg" ng-click="showSingleUserForm = true">Add users one by one</button></p>
</div>

<div class="row" ng-show="showSingleUserForm" ng-init="user = {}">
    <form name="singleUserForm">
        <div class="col-md-3"><input type="text" placeholder="First name" class="form-control" ng-model="user.name" required></div>
        <div class="col-md-3"><input type="text" placeholder="Surname" class="form-control" ng-model="user.surname" required></div>
        <div class="col-md-3"><input type="text" placeholder="Location" class="form-control" ng-model="user.location"></div>
        <div class="col-md-3"><button class="btn btn-default btn-block" ng-click="addUser(user); user = {}" ng-disabled="!singleUserForm.$valid">Add user</button></div>
    </form>
</div><br />

<table class="table table-bordered" ng-show="users.length > 0">
    <thead>
    <th>Name</th>
    <th>Surname</th>
    <th>Location</th>
    <th>Company</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td ng-hide="user.editable">{{ user.profile.name }}</td>
        <td ng-hide="user.editable">{{ user.profile.surname }}</td>
        <td ng-hide="user.editable">{{ user.profile.location }}</td>
        <td ng-hide="user.editable">{{ user.profile.company }}</td>
        <td ng-show="user.editable"><input type="text" class="form-control" ng-model="user.profile.name"></td>
        <td ng-show="user.editable"><input type="text" class="form-control" ng-model="user.profile.surname"></td>
        <td ng-show="user.editable"><input type="text" class="form-control" ng-model="user.profile.location"></td>
        <td ng-show="user.editable"><input type="text" class="form-control" ng-model="user.profile.company"></td>
        <td>
            <button class="btn btn-info" ng-click="user.editable = true" ng-hide="user.editable"><i class="fa fa-edit"></i></button>
            <button class="btn btn-info" ng-click="user.editable = false" ng-show="user.editable"><i class="fa fa-save"></i></button>
            <button class="btn btn-danger" ng-click="users.splice($index, 1)"><i class="fa fa-times"></i></button>
        </td>
    </tr>
    </tbody>
</table><br />

<div class="row">
    <div class="col-md-2 text-right">
        <strong style="display: inline-block; padding-top:5px">Add users to group: </strong>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="userManager.currentGroup" ng-options="val for val in groups">
            <option value="">No group selected</option>
        </select>
    </div>
    <div class="col-md-2 text-right">
        <strong style="display: inline-block; padding-top:5px">Or create a new one: </strong>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="newGroup">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="groups.push(newGroup); userManager.currentGroup = newGroup; newGroup = ''" ng-disabled="!newGroup">Add</button>
            </span>
        </div>
    </div>
</div><br />

<div class="text-center">
    <button class="btn btn-danger btn-lg" ng-show="userManager.currentGroup" ng-click="next();">Show user info</button>
</div>

<br /><br />